@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
}

 /* Border styles */
table thead, table tr {
border-top-width: 1px;
border-top-style: solid;
/* border-top-color: rgb(230, 189, 189); */
}
table {
border-bottom-width: 1px;
border-bottom-style: solid;
margin: 10px;
/* border-bottom-color: rgb(230, 189, 189); */
}
 
 
/* Padding and font style */
table td, table th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
/* color: rgb(177, 106, 104); */
}
 
 
/* Alternating background colors */
table tr:nth-child(even) {
/* background: rgb(238, 211, 210) */
}
table tr:nth-child(odd) {
background: #FFF
}


